/* 標籤的基本樣式 */
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #4a3830;
}
.main{
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}
