$primary-120: #2b211c;
$primary-100: #4a3830;
$primary-80: #886658;
$primary-60: #a37f71;
$primary-40: #cbb6af;
$primary-10: #f3eeec;

$success-120: #48970f;
$success-100: #7cd31f;
$succedd-20: #ddfaa5;
$success-10: #f0fcd1;
$info-120: #1566b5;
$info-100: #2aaffc;
$info-20: #a9effe;
$info-10: #d4f9fe;
$alert-120: #b71d4f;
$alert-100: #FF3A55;
$alert-20: #FFBBB0;
$alert-10: #FFE0D7;

$neutral-100: #000000;
$neutral-80: #4B4B4B;
$neutral-60: #909090;
$neutral-40: #ECECEC;
$neutral-15: #F4F4F4;
$neutral-10: #F9F9F9;
$neutral-0: #ffffff;
$black: $neutral-100;
$white: $neutral-0;

$border-primary: #D5D5DD;