<header class="header">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a href="./index.html" class="navbar-brand"><img src="../assets/images/logo-primary.svg" alt="logo"></a>
      <form class="search-box" role="search">
        <label for="header-search"><span class="mdi mdi-magnify"></span></label>
        <input class="form-control h6 regular" id="header-search" type="search" placeholder="搜尋景點、地點或城市" aria-label="Search"/>
      </form>
      <div class="cart-login">
        <a href="#" class="shopping-cart"><span class="mdi mdi-cart-outline"></span></a>
        <button class="btn-primary" type="button">登入 / 註冊</button>
      </div>
    </div>
  </nav>
</header>