<nav class="navbar bg-body-tertiary">
  <div class="container">
    <div class="logo-search">
      <a class="navbar-brand"><img src="../assets/images/logo-primary.svg" alt="logo"></a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      </form>
    </div>
    <div class="cart-login">
      <a href="#" class="shopping-cart"><img src="../assets/images/icon/ic_Cart.svg" alt="cart"></a>
      <button class="btn" type="button">登入/註冊</button>
    </div>
  </div>
</nav>