.header{
    .navbar{
        background-color: rgba($white, .5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: .5px solid $neutral-40;
        padding: 1rem 2rem;
        .container{
            display: flex;
            align-items: center;
            gap: var(--spac-header-24-8);
            .navbar-brand{
                width: 180px;
                img{
                    width: 100%;
                }
            }
            .cart-login{
                display: flex;
                justify-content: end;
                align-items: center;
                flex-grow: 1;
                gap: 1rem;
                .shopping-cart{
                    padding: .5rem .75rem;
                    span{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}